body{
    
}
.left{
    margin: 0 0 0 0;
    display: inline-block;
    padding: 0 100px 100% 0;
    border: 1px solid skyblue;
    background-color: skyblue;
    color: aliceblue;
    position: fixed;
}
.anchor{
    overflow: hidden;
    background-color: #333;
   
  }
  
.anchor a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .anchor a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .anchor a.active {
    background-color: #04AA6D;
    color: white;
  }
  .right{
    margin-left: 400px;
   
  }
#task{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#add{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: deepskyblue;
    color: black;
}
