.container2{
    display: block;
}
.container2 a{
    padding: 14px;
    text-decoration: none;
    background-color: black;
    color: white;
}
.container2 a:hover{
    background-color: white;
    color: black;
}
.container2 a .active{
    background-color: green;
    padding: 14px;
    display: inline;
}
